# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\DuAn1Ky4Fall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
